.ns_com_header_main {
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: all 0.4s;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;

    .left {
      display: flex;
      align-items: center;
    }
    .right {
      white-space: nowrap;
    }
    .logo {
      cursor: pointer;
      height: 33px;
    }
    .menu_wrapper {
      list-style: none;
      margin: 0;
      padding: 0;
      .menu_item_wrapper {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        a {
          white-space: nowrap;
          color: #111111;
          a: hover {
            color: #000;
          }
        }
      }
    }
  }

  &.scrolled {
    opacity: 0;
  }
  &.scrolled_up {
    opacity: 1;
    background-color: #fff;
  }

  &.is_desktop {
    padding: 12px 70px;

    .content {
      margin: 0 auto;
      max-width: var(--max-content);
      box-sizing: content-box;
    }

    .right {
      display: flex;
      column-gap: 16px;
    }
    .menu_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      margin-left: 48px;
    }
  }

  &.is_m {
    background: #fff;
    padding: 8px;
    .join_now {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
      width: 70px;
      text-align: end;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
    }
    .menu_toggle {
      position: relative;
      &.button {
        width: 70px;
        justify-content: flex-start;
      }
    }
    .menu_wrapper {
      background: #fff;
      height: fit-content;
      display: flex;
      flex-direction: column;
      li {
        padding: 12px 0;
        text-align: center;
      }
    }
    .menu_back {
      width: 100vw;
      z-index: 0;
      background: #fff;
      position: absolute;
      top: -60px;
      left: 0;
      padding-top: 76px;
      .logo {
        text-align: center;
      }
      .menu_wrapper {
        margin: 12px 0;
      }
      .minus {
        text-align: center;
      }
    }
  }
}
