.part_backed_by {
  background-color: #f5f5f5;
  .line_1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #111111;
  }
  .line_2 {
    .section {
      display: flex;
      align-items: center;
      column-gap: 24px;
      margin-top: 24px;
      .img_wrapper {
        box-sizing: border-box;
        background: #fff;
        border-radius: 8px;
        flex: 1;
        padding: 36px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        img {
          overflow: hidden;
          object-fit: scale-down;
        }
      }
      &.section0 {
        height: 124px;
      }
      &.section1 {
        height: 126px;
      }
      &.section2 {
        height: 135px;
      }
    }
  }

  @at-root .is_m {
    .part_backed_by {
      .line_1 {
        font-size: 32px;
      }
      .line_2 {
        .section.section0 {
          height: fit-content;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
        }

        .section {
          &.section0,
          &.section1,
          &.section2 {
            .img_wrapper {
              height: 88px;
            }
          }
        }
      }
    }
  }
}
