.part_curated {
  padding: 70px;
  background: #f5f5f5;
  display: grid;
  grid-template-columns: 7fr 10fr;
  grid-column-gap: 36px;
  .left {
    .line_1 {
      font-weight: 500;
      font-size: 40px;
      line-height: 120%;
      color: #111111;
      > span {
        color: #6538e6;
      }
    }
    .line_2 {
      margin: 24px 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #444444;
    }
  }
  .right {
    background: #d6cdef;
    border-radius: 16px;
    img {
      width: 100%;
      border-radius: 16px;
    }
  }

  @at-root .is_m {
    .part_curated {
      padding: 48px 16px;
      grid-template-columns: none;
      display: flex;
      flex-direction: column;
      flex-flow: column-reverse;
      background-color: #fff;
      row-gap: 24px;
      .left {
        .line_1 {
          font-size: 32px;
        }
        .line_3 {
          text-align: center;
        }
      }
    }
  }
}
