.ns_com_footer_main {
  background: #fff;

  .logo {
    width: 160px;
  }

  hr {
    height: 1px;
    border: none;
    border-top: 1px solid #e8e8e8;
    margin: 0;
  }

  .main {
    padding: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
  }

  a:not(:hover, :active, :focus) {
    color: inherit;
  }

  .section {
    .section_title {
      font-weight: 500;
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 140%;
      color: #111;
    }

    .section_body {
      display: flex;
      flex-direction: column;
      .install_btn {
        width: 165px;
      }
    }

    .section_links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        font-size: 16px;
        line-height: 180%;
        font-weight: 400;
        color: #111;
      }

      .contact_us {
        line-height: 140%;
      }
    }

    .section_icons {
      display: flex;
      flex-direction: row;
      margin-top: 8px;
      font-size: 35px;
      line-height: 1;
      > a {
        margin-right: 16px;
      }
    }
  }

  .secondary {
    display: block;
    box-sizing: content-box;
    padding: 70px;
    margin: 0 auto;

    .secondary_item_wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .secondary_item {
      display: flex;
      align-items: center;
      color: #999999;
      font-size: 16px;
      font-weight: 400;
      line-height: 180%;

      &:not(:first-child)::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 16px;
        margin: 0 10px;
        border-left: 1px solid currentColor;
        vertical-align: middle;
      }
    }
  }

  @media screen and (min-width: 767px) and (max-width: 1140px) {
    .main {
      grid-template-columns: repeat(2, 1fr);
      gap: 36px;
    }
  }

  @at-root .is_m {
    .main {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
    }
  }
}
